<%= will_paginate @posts, renderer: BulmaPagination::Rails %>
<div class="column post-roll">
  <ul>
  <%= render @posts %>
  </ul>
</div>
<%= will_paginate @posts, renderer: BulmaPagination::Rails %>
