<footer class="footer fix-bottom">
  <div class="content has-text-centered">
    <p>
      Created by <strong><%= link_to "Uy Bình", "https://uybinh.com" %></strong>
      <a href="https://github.com/uybinh">
      <%= icon("fab", "github-alt", class: "strong") %>
      </a>
    </p>
  </div>
</footer>